<header class="bg-blue-700 h-16 flex justify-center items-center">
  <input type="text" class="h-10 w-96 rounded p-4" placeholder="search your tasks">
  <div class="flex justify-end ml-4">
    <ng-container *ngIf="!isLoggedIn">
      <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" (click)="navigateToLogin()">Login</button>
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded ml-2" (click)="navigateToSignup()">Signup</button>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</header>